In [23]:
import pandas as pd # Importing the necessary libraries 
from scipy import stats  #scipy.statsModul müxtəlif statistik funksiyalar və alətlər təqdim edir.
import numpy as np # Numerical Python

In [4]:
# Replace 'your_dataset.csv' with the actual path to your dataset file
df = pd.read_csv(r'C:\Users\HP\Downloads\SmokeDetection_iot.csv')

In [5]:
df

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62625,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,62626,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,62627,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,62628,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,62629,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0

In [8]:
df.head(10)

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.00,0.0,0.000,0.00,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.00,0.0,0.000,0.00,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.00,0.0,0.000,0.00,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.00,0.0,0.000,0.00,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.00,0.0,0.000,0.00,4,0
5,5,1654733336,20.073,54.12,0,400,12419,18998,939.725,0.0,0.00,0.0,0.000,0.00,5,0
6,6,1654733337,20.088,53.61,0,400,12432,19058,939.738,0.0,0.00,0.0,0.000,0.00,6,0
7,7,1654733338,20.103,53.20,0,400,12439,19114,939.758,0.0,0.00,0.0,0.000,0.00,7,0
8,8,1654733339,20.117,52.81,0,400,12448,19155,939.758,0.0,0.00,0.0,0.000,0.00,8,0
9,9,1654733340,20.132,52.46,0,400,12453,19195,939.756,0.9,3.78,0.0,4.369,2.78,9,0

In [10]:
df.tail(62629)

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
5,5,1654733336,20.073,54.12,0,400,12419,18998,939.725,0.00,0.00,0.00,0.000,0.000,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62625,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,62626,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,62627,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,62628,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,62629,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0

In [11]:
df['ID'] = df['ID'] + 1

In [12]:
df

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,1,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0,0
1,2,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,3,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,4,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,5,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62626,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,62627,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,62628,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,62629,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,62630,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0

In [13]:
df.drop(columns=['CNT'],inplace=True)

In [14]:
df

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
0,1,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0
1,2,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,0
2,3,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,0
3,4,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,0
4,5,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62626,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,0
62626,62627,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,0
62627,62628,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,0
62628,62629,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,0
62629,62630,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,0

In [16]:
print("\nSummary statistics:")
print(df.describe().T)

Summary statistics:
                  count          mean            std           min  \
ID              62630.0  3.131550e+04   18079.868017  1.000000e+00
UTC             62630.0  1.654792e+09  110002.488078  1.654712e+09
Temperature[C]  62630.0  1.597042e+01      14.359576 -2.201000e+01
Humidity[%]     62630.0  4.853950e+01       8.865367  1.074000e+01
TVOC[ppb]       62630.0  1.942058e+03    7811.589055  0.000000e+00
eCO2[ppm]       62630.0  6.700210e+02    1905.885439  4.000000e+02
Raw H2          62630.0  1.294245e+04     272.464305  1.066800e+04
Raw Ethanol     62630.0  1.975426e+04     609.513156  1.531700e+04
Pressure[hPa]   62630.0  9.386276e+02       1.331344  9.308520e+02
PM1.0           62630.0  1.005943e+02     922.524245  0.000000e+00
PM2.5           62630.0  1.844678e+02    1976.305615  0.000000e+00
NC0.5           62630.0  4.914636e+02    4265.661251  0.000000e+00
NC1.0           62630.0  2.035865e+02    2214.738556  0.000000e+00
NC2.5           62630.0  8.004904e+01    1083.383189  0.000000e+00
Fire Alarm      62630.0  7.146256e-01       0.451596  0.000000e+00

                         25%           50%           75%           max
ID              1.565825e+04  3.131550e+04  4.697275e+04  6.263000e+04
UTC             1.654743e+09  1.654762e+09  1.654778e+09  1.655130e+09
Temperature[C]  1.099425e+01  2.013000e+01  2.540950e+01  5.993000e+01
Humidity[%]     4.753000e+01  5.015000e+01  5.324000e+01  7.520000e+01
TVOC[ppb]       1.300000e+02  9.810000e+02  1.189000e+03  6.000000e+04
eCO2[ppm]       4.000000e+02  4.000000e+02  4.380000e+02  6.000000e+04
Raw H2          1.283000e+04  1.292400e+04  1.310900e+04  1.380300e+04
Raw Ethanol     1.943500e+04  1.950100e+04  2.007800e+04  2.141000e+04
Pressure[hPa]   9.387000e+02  9.388160e+02  9.394180e+02  9.398610e+02
PM1.0           1.280000e+00  1.810000e+00  2.090000e+00  1.433369e+04
PM2.5           1.340000e+00  1.880000e+00  2.180000e+00  4.543226e+04
NC0.5           8.820000e+00  1.245000e+01  1.442000e+01  6.148203e+04
NC1.0           1.384000e+00  1.943000e+00  2.249000e+00  5.191468e+04
NC2.5           3.300000e-02  4.400000e-02  5.100000e-02  3.002644e+04
Fire Alarm      0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

In [17]:
print("\nData types:")
print(df.dtypes)

Data types:
ID                  int64
UTC                 int64
Temperature[C]    float64
Humidity[%]       float64
TVOC[ppb]           int64
eCO2[ppm]           int64
Raw H2              int64
Raw Ethanol         int64
Pressure[hPa]     float64
PM1.0             float64
PM2.5             float64
NC0.5             float64
NC1.0             float64
NC2.5             float64
Fire Alarm          int64
dtype: object

In [18]:
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
ID                0
UTC               0
Temperature[C]    0
Humidity[%]       0
TVOC[ppb]         0
eCO2[ppm]         0
Raw H2            0
Raw Ethanol       0
Pressure[hPa]     0
PM1.0             0
PM2.5             0
NC0.5             0
NC1.0             0
NC2.5             0
Fire Alarm        0
dtype: int64

In [19]:
df_cleaned = df.dropna()   #------->option 1
#df_cleaned['Temperature[C]'].fillna(df_cleaned['Temperature[C]'].mean(), inplace=True)   #------->option 2

In [21]:
df_cleaned = df_cleaned.drop_duplicates()

In [20]:
df_cleaned

,ID,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,Fire Alarm
0,1,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0
1,2,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,0
2,3,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,0
3,4,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,0
4,5,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62626,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,0
62626,62627,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,0
62627,62628,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,0
62628,62629,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,0
62629,62630,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,0

In [22]:
df_cleaned['UTC'] = pd.to_datetime(df_cleaned['UTC'], unit='s')

In [2]:
alarm_triggered = df_cleaned[df_cleaned['Fire Alarm'] == 1]
non_alarm_data = df_cleaned[df_cleaned['Fire Alarm'] == 0]
for column in ['Temperature[C]', 'Humidity[%]', 'TVOC[ppb]', 'eCO2[ppm]', 'Raw H2', 'Raw Ethanol', 'Pressure[hPa]', 'PM1.0', 'PM2.5', 'NC0.5', 'NC1.0', 'NC2.5']:
    z_scores = stats.zscore(non_alarm_data[column])  #Z-balı məlumat nöqtəsinin ortadan nə qədər uzaq olduğunu standartlaşdırır.
    abs_z_scores = np.abs(z_scores)
    filtered_entries = (abs_z_scores < 3)  #z-balı 3-dən çox olan dəyərlər kənar hesab olunur.
    non_alarm_data = non_alarm_data[filtered_entries]

In [3]:
df_cleaned=pd.concat([non_alarm_data,alarm_triggered],ignore_index=True)

In [5]:
cleaned_file_path = r'C:\Users\HP\Downloads\CleanedSmokeDetection_iot.csv'
df_cleaned.to_csv(cleaned_file_path, index=False)
print("\nCleaned dataset saved to:", cleaned_file_path)

Cleaned dataset saved to: C:\Users\HP\Downloads\CleanedSmokeDetection_iot.csv

In [ ]:
#CLEANED DATA
df = pd.read_csv(r'C:\Users\HP\Downloads\CleanedSmokeDetection_iot.csv')

In [ ]:
print("First few rows of the dataset:")
print(df.head(10))

In [2]:

print("\nSummary statistics:")
print(df.describe().T)

First few rows of the dataset:
   ID                  UTC  Temperature[C]  Humidity[%]  TVOC[ppb]  eCO2[ppm]  \
0   3  2022-06-09 00:08:53          20.029        55.96          0        400
1   4  2022-06-09 00:08:54          20.044        55.28          0        400
2   5  2022-06-09 00:08:55          20.059        54.69          0        400
3   6  2022-06-09 00:08:56          20.073        54.12          0        400
4   7  2022-06-09 00:08:57          20.088        53.61          0        400
5   8  2022-06-09 00:08:58          20.103        53.20          0        400
6   9  2022-06-09 00:08:59          20.117        52.81          0        400
7  35  2022-06-09 00:09:25          20.491        52.74          0        414
8  36  2022-06-09 00:09:26          20.505        53.12          3        413
9  37  2022-06-09 00:09:27          20.519        53.50          0        410

   Raw H2  Raw Ethanol  Pressure[hPa]  PM1.0  PM2.5  NC0.5  NC1.0  NC2.5  \
0   12374        18764        939.738   0.00   0.00   0.00  0.000  0.000
1   12390        18849        939.736   0.00   0.00   0.00  0.000  0.000
2   12403        18921        939.744   0.00   0.00   0.00  0.000  0.000
3   12419        18998        939.725   0.00   0.00   0.00  0.000  0.000
4   12432        19058        939.738   0.00   0.00   0.00  0.000  0.000
5   12439        19114        939.758   0.00   0.00   0.00  0.000  0.000
6   12448        19155        939.758   0.00   0.00   0.00  0.000  0.000
7   12489        19535        939.747   0.10   0.36   0.08  0.408  0.244
8   12490        19541        939.754   0.09   0.31   0.07  0.359  0.215
9   12491        19541        939.755   0.08   0.29   0.07  0.336  0.201

   Fire Alarm
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0

Summary statistics:
                  count          mean           std        min         25%  \
ID              61147.0  30738.629205  17786.644042      3.000  15347.5000
Temperature[C]  61147.0     15.826606     13.683521    -22.010     11.3250
Humidity[%]     61147.0     49.157766      7.833974     11.260     47.6300
TVOC[ppb]       61147.0    881.866371   1769.578855      0.000    127.0000
eCO2[ppm]       61147.0    515.217361   1092.987973    400.000    400.0000
Raw H2          61147.0  12966.175986    193.987639  10939.000  12836.0000
Raw Ethanol     61147.0  19806.055702    468.904559  17809.000  19437.0000
Pressure[hPa]   61147.0    938.669021      1.307312    930.852    938.7040
PM1.0           61147.0     26.792251    505.399011      0.000      1.2700
PM2.5           61147.0     57.746887   1278.274407      0.000      1.3200
NC0.5           61147.0    109.248620   1836.101643      0.000      8.7450
NC1.0           61147.0     64.527431   1445.724713      0.000      1.3635
NC2.5           61147.0     29.683538    766.067390      0.000      0.0320
Fire Alarm      61147.0      0.731957      0.442944      0.000      0.0000

                      50%        75%        max
ID              30694.000  45980.500  62630.000
Temperature[C]     20.126     25.280     58.260
Humidity[%]        50.290     53.280     75.200
TVOC[ppb]         946.000   1180.000  31629.000
eCO2[ppm]         400.000    433.000  60000.000
Raw H2          12928.000  13110.000  13749.000
Raw Ethanol     19511.000  20085.000  21410.000
Pressure[hPa]     938.825    939.434    939.861
PM1.0               1.800      2.080  14333.690
PM2.5               1.870      2.160  45432.260
NC0.5              12.410     14.310  60442.710
NC1.0               1.934      2.231  51914.680
NC2.5               0.044      0.051  30026.438
Fire Alarm          1.000      1.000      1.000